.fane[aria-checked="true"] {
  background-color: #e5e5e5 !important;
  border-radius: 2px 2px 0 0;
}

.navds-label {
  color: white !important;
}

.fane[aria-checked="true"] > .navds-label {
  color: black !important;
}

.fane[aria-checked="false"] {
  background-color: var(--navdsi-header-color-background) !important;
}

.navds-toggle-group {
  background-color: var(--navdsi-header-color-background) !important;
  box-shadow: none !important;
  padding: 0 !important;
}
